<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sajju blog Collection</title>

  <link rel="stylesheet" href="../../CSS/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  
  <section id="header">
      <a href="#"><img src="../../images/logo.png" class="logo" alt="logo"> </a>

    <div>
      <ul id="navbar">
        <li> <a href="../../index.html">Home</a></li>
        <li><a href="../Shop-File/shop.html">Shop</a></li>
        <li><a class="active" href="blog.html">Blog</a></li>
        <li><a href="../About-File/about.html">About</a></li>
        <li><a href="../Contact-File/contact.html">Contact</a></li>
        <li><a href="../Cart-File/cart.html"><i class="fa fa-shopping-bag"></i></a></li>
        <li><a href="#"><i id="close" class="fa fa-times"></i></a></li>
      </ul>
    </div>
    <div id="mobile">
      <a href="#"><i class="fa fa-shopping-bag"></i></a>
      <i id="bar" class='fa fa-outdent'></i>
    </div>
  </section>

  <section id="blog-page-01">
      <h2>Read More</h2>
      <p>Read all case studies about our products!</p>
  </section>

  <section id="blog">
    <div class="blog-box">
        <div class="blog-img">
            <img src="../../images/blog/b1.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>The Cotton-Jersey Zip-Up Hoodie</h4>
            <p>Kickstarter man braid godard coloring book. Reclate waistcoat selfies yr wolf charteruse hexagon irony, godard....</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/01</h1>
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="../../images/blog/b2.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>How Style a Quiff!</h4>
            <p>Kickstarter man braid godard coloring book. Reclate waistcoat selfies yr wolf charteruse hexagon irony, godard....</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/04</h1>
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="../../images/blog/b3.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>Must Have Skater Giri Items!</h4>
            <p>Kickstarter man braid godard coloring book. Reclate waistcoat selfies yr wolf charteruse hexagon irony, godard....</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/08</h1>
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="../../images/blog/b7.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>Runway-Inspired Trends!</h4>
            <p>Kickstarter man braid godard coloring book. Reclate waistcoat selfies yr wolf charteruse hexagon irony, godard....</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/12</h1>
    </div>

    <div class="blog-box">
        <div class="blog-img">
            <img src="../../images/blog/b6.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>AW20 Meanswear Trends!</h4>
            <p>Kickstarter man braid godard coloring book. Reclate waistcoat selfies yr wolf charteruse hexagon irony, godard....</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/16</h1>
    </div>
  </section>

  <section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
  </section>

  <section id="newsletter" class="section-p1">
    <div class="newstext">
      <h4>Sign Up For Newaletter</h4>
      <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
      <input type="text" placeholder="Your Email Address">
      <button class="normal">Sign Up</button>
    </div>
  </section>

  <footer class="section-p1">
    <div class="col">
      <img class="logo" src="../../images/logo.png" alt="logo">
      <h4>Contact</h4>
      <p><strong>Address:</strong> Harinagara Sunsari Nepal</p>
      <p><strong>Phone:</strong> 9810412054 / 9817316003</p>
      <p><strong>Hours:</strong> 10:00am - 06:00pm / Sun-Fri</p>
      <div class="follow">
        <h4>Follow Us</h4>
        <din class="icon">
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-pinterest"></i>
          <i class="fa fa-youtube-play"></i>
        </din>
      </div>
    </div>

    <div class="col">
      <h4>About</h4>
      <a href="#">About Us</a>
      <a href="#">Delivery Information</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Contact Us</a>
    </div>

    <div class="col">
      <h4>My Account</h4>
      <a href="#">Sign In</a>
      <a href="#">View Cart</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track My Order</a>
      <a href="#">Help</a>
    </div>

    <div class="col install">
      <h4>install App</h4>
      <p>From App Store or Google Play</p>
      <div class="row">
        <img src="../../images/pay/app.jpg" alt="app-store">
        <img src="../../images/pay/play.jpg" alt="play-store">
      </div>
      <p>Second Payment Gateways</p>
      <img src="../../images/pay/pay.png" alt="pay">
    </div>

    <div class="copyright">
      <p>@2023, Sajju Collection E-Commerce Website.</p>
    </div>
  </footer>


  <script href="../../Js/Script.js"></script>
</body>
</html>